/* Max line */
.line-1 ,.line-2 ,.line-3 ,.line-4 ,.line-5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.line-1 {
    -webkit-line-clamp: 1;
}

.line-2 {
    -webkit-line-clamp: 2;
}

.line-3 {
    -webkit-line-clamp: 3;
}

.line-4 {
    -webkit-line-clamp: 4;
}

.line-5 {
    -webkit-line-clamp: 5;
}

/* Job min-height*/
.job-min-height {
    min-height: 255px;
}

/* card height */

.card_height {
    height: 50px;
}

.tp03_qatitle_height {
    height: 66px;
    line-height: 30px !important;
  }

@media only screen and (max-width: 400px) {
    .card_height {
        height: auto;
    }
    .mobile-mb-0 {
        margin-bottom: 0px;
    }
}