:root {
  --color-primary: #6379cd;
  --color-gradient-start: #6379cd;
  --color-gradient-stop: #6379cd;
  --color-dark: #191E34;
  --color-light: #D4DAF1;/*第3*/
  --color-lightest: #F0F2FA;/*最淡*/
}

body {
  font-family: 'Microsoft JhengHei', 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.625em;
  letter-spacing: 0.01em;
  font-size: 1em;
  color: #73747f;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Microsoft JhengHei', 'Rubik', sans-serif;
  color: #1a1c26;
}

.h1,
h1 {
  font-weight: 300;
  line-height: 1.244em;
  font-size: 45px;
}

.h2,
h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.285em;
}

.h3,
h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.342em;
}

.h4,
h4 {
  font-size: 30px;
  font-weight: 550;
  line-height: 1.35em;
}

.h5,
h5 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.35em;
}

.h6,
h6 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2em;
}

.navbar-brand {
  padding: 30px 30px 30px 0;
}

.main-header .btn-underlined {
  color: #fff;
}

.main-header .btn-underlined:after {
  background-color: currentColor;
}

.main-header .btn-bordered {
  border-color: #fff;
  color: #fff;
}

.main-header .btn-bordered:hover {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.main-header.megamenu-scheme-light .btn {
  border-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
}

.main-nav > li > a {
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #fff;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.main-footer {
  padding-top: 70px;
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn) {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:not(.btn):hover {
  color: #fff;
}

@media (min-width: 1200px) {
  .main-header .is-stuck {
    background: #fff !important;
  }
  .mainbar-wrap.is-stuck .social-icon a,
  .mainbar-wrap.is-stuck .header-module .ld-module-trigger,
  .mainbar-wrap.is-stuck .main-nav > li > a,
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    color: #424242 !important;
  }
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    border-color: #424242 !important;
  }
  .is-stuck .btn-underlined {
    color: #3d3d3d;
  }
  .is-stuck .btn-underlined:after {
    background-color: #000;
  }
  .is-stuck .btn-underlined:hover {
    color: #000;
  }
  .is-stuck .btn-bordered {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
  .is-stuck .btn-bordered:hover {
    border-color: #3d3d3d;
    background-color: #3d3d3d;
    color: #fff;
  }
}


/* Banner Minimum Heihgt Setting*/
.height-60 {
  min-height: 60vh;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

/* fancy-title Class Bottom Setting */
.fancy-title-1111 {
  margin-bottom: 0;
  position: relative;
}

/* Mask */
.img-mask-custom{
  background-color: #000000;
  opacity: 0.8;
}

/********* DIV RWD Table *********/
.jobs-table-limiter {
  width: 100%;
  margin: 0 auto;
}

.jobs-table-container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.jobs-table-wrap {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.jobs-table {
  width: 100%;
  display: table;
  margin: 0;
}

.jobs-table-row:nth-child(odd) {
  background: var(--color-lightest);
}

@media screen and (max-width: 768px) {
  .jobs-table {
    display: block;
  }
}

.jobs-table-row {
  display: table-row;
  background: #fff;
  padding: 3%;
}

.jobs-table-row.header {
  color: #ffffff;
  background: var(--color-primary);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .jobs-table-row {
    display: block;
  }

  .jobs-table-row.header {
    padding: 0;
    height: 0px;
  }

  .jobs-table-row.header .cell {
    display: none;
  }

  .jobs-table-row .cell:before {
    font-family: 'Microsoft JhengHei', 'Raleway', 'sans-serif';
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold !important;
    text-align: left;
    margin-bottom: 0px;
    content: attr(data-title);
	width: auto;
    min-width: 50px;
    display: inline-block; /*display: block;*/
  }
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.jobs-table-row .cell {
  font-family: 'Microsoft JhengHei', 'Raleway', 'sans-serif';
  font-size: 15px;
  color: #666666;
  line-height: 24px;
  font-weight: unset !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.jobs-table-row.header .cell {
  font-family: 'Microsoft JhengHei', 'Raleway', 'sans-serif';
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  font-weight: bold !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jobs-table-row .cell:nth-child(1) {
  width: 20%;
  text-align: center;
}

.jobs-table-row .cell:nth-child(2) {
  width: 20%;
  text-align: center;
}

.jobs-table-row .cell:nth-child(3) {
  width: 35%;
}

.jobs-table-row .cell:nth-child(4) {
  width: 15%;
  text-align: center;
}

.jobs-table-row .cell:nth-child(5) {
  width: 10%;
  font-size: 24px;
  text-align: center;
}


.jobs-table, .jobs-table-row {
  width: 100% !important;
}

.jobs-table-row:not(.header):hover {
  background-color: var(--color-light);
  cursor: pointer;
}

@media (max-width: 768px) {
  .jobs-table-row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 0px; /* 15px */
    margin: 0;
  }
  
  .jobs-table-row .cell {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  .jobs-table-row .cell {
    font-family: 'Microsoft JhengHei', 'Raleway', 'sans-serif';
    font-size: 18px;
    color: #555555;
    line-height: 24px;
    font-weight: unset !important;
  }

  .jobs-table, .jobs-table-row, .cell {
    width: 100% !important;
  }
}

/* Highly Consistent For Jobs Table */
.jobs-hide-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 24px;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0em;
}

@media screen and (max-width: 600px){
  .jobs-hide-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      line-height: 30px;
      height: auto;
      padding-bottom: 0px;
	  margin-bottom: 0em;
  }
}
/********* DIV RWD Table End *********/

/* Highly Consistent For Company */
.company-hide-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 30px;
  height: 75px;
  padding-bottom: 0px;
}
@media screen and (max-width: 600px){
  .company-hide-text {
      line-height: 10px;
      height: 0;
      visibility: hidden;
      /*opacity: 0;*/
  }
}

/* Highly Consistent For Benefits */
.benefit-hide-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  line-height: 30px;
  height: auto;
  padding-bottom: 0px;
}

@media screen and (max-width: 600px){
  .benefit-hide-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 17;
      line-height: 30px;
      height: auto;
      padding-bottom: 0px;
  }
}


/* Go To Top Button Icon */
.top-link-icon {
  transition: all .25s ease-in-out;
  position: fixed;
  z-index: 99999999;
  bottom: 140px;
  right: 50px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 0.1em 0.1em 0;
  border-radius: 50%;
  padding: .25em;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  color: var(--color-primary);
}

/* Mobile Screen */
@media (max-width: 979px) {
  .top-link-icon {
    bottom: 90px;
    right: 22px;
  }
}

.top-link-icon.show {
  visibility: visible;
  opacity: 1;
}
.top-link-icon.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link-icon:hover {
  color: var(--color-dark);
}

/* 立即應徵 Button */
.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  z-index: 99999999;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 0.1em 0.1em 0;
  border-radius: 50%;
  padding: .25em;
  width: 150px;
  height: 150px;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link svg {
  fill: #000;
  width: 24px;
  height: 12px;
}

/* Mobile Screen */
@media (max-width: 979px) {
  .top-link {
    width: 100px;
    height: 100px;
  }
}

.top-link img {
  width: 100%;
}


/* Padding Setting*/
.benefit-margin-custom {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .benefit-margin-custom {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* Benefit Section Setting End */

/* FAQ Section Setting Start */

/*Div Hidden*/
@media screen and (max-width: 600px) {
  .faq-hidden{
    display:none;
  }
}

/* Padding Setting*/
.faq-padding-custom {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .faq-padding-custom {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* FAQ Section Setting End*/

.fancy-box-classes .trainer {
	font-size: 1em;
}

.tabs-nav-active-filled .tabs-nav li.active a{
  background-color: var(--color-primary);
	color: #fff;
}

.jobs-nav-active-filled li.active a{
  background-color: var(--color-primary);
	color: #fff;
}

@media screen and (max-width: 600px) {
  .jobs-nav-active-filled li a:hover {
    color: #fff;
  }
}

.tabs-nav-active-filled .tabs-nav li a:hover {
	background-color: #ffeeee;
	color: #666666;
}

.flickity-button svg polyline,
.flickity-button svg line {
	stroke-width: 2;
}
.carousel-nav-light .flickity-button {
    
    color: var(--color-primary);
}


.apply-job .btn-solid:hover,
#jobs .btn-solid:hover {
  color: var(--color-primary); 
	background-color: #fff;
}

/* Font Style*/
.text-shodow {
  font-weight: bold;
  text-shadow:1px 1px #000000;
}

/* NAV TEXT*/
.nav-header-text {
  font-weight: bold;
}

.nav-header-text:hover {
  color: var(--color-primary) !important;
}

@media screen and (min-width: 768px) {
  .mainbar-wrap:not(.is-stuck) .nav-header-text {
    text-shadow:1px 1px #000000;
  }
}