.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.uploadFile {
  opacity: 0;
}

.upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.btn-width {
  width: 50% !important;
}

.pic-bigger {
  width: auto;
  /*height: 1080px;*/
  overflow: hidden;
}
.pic-bigger img {
  transform: scale(1,1);
  transition: all 1s ease-out;
}
.pic-bigger img:hover {
  transform: scale(2,2);
}

.sample-img-width {
  max-width: 100% !important;
}

.mangerweb-pb-1 {
  padding-bottom: 1rem !important;
}

.scroll-to-top-bottom {
  bottom: 1rem !important;
}

.move-top {
  z-index: 200;
}

.message_width {
  width: 60%;
}

.row-style-w95-pt1 {
  width: 95%;
  padding-top: 1em;
}

.row-style-w95 {
  width: 95%;
}

.row-style-pt1 {
  padding-top: 1em;
}

/* Max line */
.line-1 ,.line-2 ,.line-3 ,.line-4 ,.line-5 ,.line-15 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-1 {
  -webkit-line-clamp: 1;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.line-4 {
  -webkit-line-clamp: 4;
}

.line-5 {
  -webkit-line-clamp: 5;
}

.line-10 {
  -webkit-line-clamp: 10;
}

.width-100 {
  width: 100%;
}

.height-sample {
  max-height: 200px;
  overflow: hidden;
}

.previewButton {
  color: #fff;
}

.inputswitch_size {
  font-size: 30px;
  font-weight: bold;
}